<section class="disqus-comments">
  <!--<div class="tabs">
    <div class="lables">
      <label for="tab1">Телеграм</label>
      <label for="tab2">ВК</label>
    </div>
    <input type="radio" checked name="tab" id="tab1">
    <div class="tab"><%- partial('partials/telegram') %></div>
    <input type="radio" name="tab" id="tab2">
    <div class="tab"><%- partial('partials/vk') %></div>
  </div>-->
  <%- partial('partials/vk') %>
</section>
