<%
var pageTitle = page.title ? page.title + ' - ' : '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += config.title;
if (is_home()) pageTitle+= ' - ' + config.subtitle;
%>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#202020"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <% if (page.tags && page.tags.length) { %>
    <meta name="keywords" content="<% page.tags.forEach(function(tag) { %><%= tag.name %>,<% }); %>" />
  <% } else { %>
    <meta name="keywords" content="<%= config.keywords %>" />
  <% } %>
  <% if (config.description) { %>
    <meta name="description" content="<%= config.description %>" />
  <% } else {  %>
    <meta name="description" content="<%= page.description || page.title || (config.title + ',' + config.subtitle) %>" />
  <% } %>
  <title><%=pageTitle%></title>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from config.yml -->
    <% theme.stylesheets.forEach(function(url) { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
  <script src="https://vk.com/js/api/openapi.js?168"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://botapi.rundik.ru/dist/stream-codes.min.js"></script>

  <script>
    VK.init({apiId: 5080889, onlyWidgets: true});
  </script>
</head>
